<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.douya.bottle"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".DriftBottle"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".activity.RegsiterActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <!-- 四个功能模块Tab页Activity -->
        <activity android:name=".activity.HomeActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity android:name=".activity.NearbyActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".activity.SquareActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".activity.MoreActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <!-- 首页模块Tab页 -->
        <activity android:name=".activity.HomeUserInfoActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.HomeBottleActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.HomeFriendActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.HomeCumulativeScoringActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        <!-- 天气预报Service -->
        <service android:name=".service.WeatherService"></service>
    </application>
    <!-- 访问互联网权限 -->
     <uses-permission android:name="android.permission.INTERNET"/>
     <!-- 文件存储权限  -->
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>